DATABASE_URL=
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=
GOOGLE_API_KEYs = 
SENTRY_AUTH_TOKEN=
POLAR_ACCESS_TOKEN = 
POLAR_SUCCESS_URL=
GOOGLE_CLIENT_ID = 
GOOGLE_CLIENT_SECRET =
NGROK_URL=
GOOGLE_GENERATIVE_AI_API_KEY=
ENCRYPTION_KEY=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
NEXT_PUBLIC_APP_URL=
INNGEST_EVENT_KEY = 
INNGEST_SIGNING_KEY = 